* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Clases especiales */
.borde {
    border: 1px solid gray;
}

.titulo {
    width: 100%;
    height: 50px;
}

/* Escritorio */
.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

nav, footer {
    width: 100%;
    height: 50px;
}

section, header {
    width: 100%;
    height: 500px;
}