* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Clases especiales */
.borde {
    border: 1px solid gray;
}

.titulo {
    width: 100%;
    height: 50px;
}

/* Escritorio */
.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

nav, footer {
    width: 100%;
    height: 50px;
}

section, header {
    width: 100%;
    height: 500px;
}

/* Navegador */
nav {}

.logo {
    width: 20%;
    height: 100%;
    float: left;
}

.navega {
    width: 65%;
    height: 100%;
    float: left;
}

.ingreso {
    width: 15%;
    height: 100%;
    float: left;
}

/* Portafolio */
.portafolio .por-col {
    width: 33.33%;
    height: 100%;
    float: left;
}

/* Quiénes somos */
.nosotros .nos-fila {
    width: 100%;
    height: 33.33%;
}

.nosotros .nos-col-ext {
    width: 40%;
    height: 100%;
    float: left;
}

.nosotros .nos-col-cnt {
    width: 20%;
    height: 100%;
    float: left;
}

/* Contáctenos */
.contacto .cont-col {
    width: 50%;
    height: 100%;
    float: left;
}

.contacto .cont-arr {
    width: 100%;
    height: 70%;
}

.contacto .cont-abj {
    width: 100%;
    height: 30%;
}

/* Celular */
@media (max-width: 576px) {
    .container {
        width: 100%;
    }

    nav {
        height: 150px;
    }

    .logo,
    .navega,
    .ingreso {
        width: 100%;
        height: 50px;
    }

    .portafolio {
        height: 1500px;
    }

    .portafolio .por-col {
        width: 100%;
        height: 500px;
    }
}